<div class="row">
    <div class="span12 sh-schedule sh-folded-corner">
        <div class="sh-label-container">
            <span class="sh-label">Расписание</span>
        </div>

        <div class="sh-schedule-nav">
            <span class="sh-schedule-nav-left"><-</span>
            <span class="sh-schedule-curr-date">20.11.2013 - 27.11.2013 (16 неделя)</span>
            <span class="sh-schedule-nav-right">-></span>
        </div>

        <table class="table-condensed table-bordered sh-schedule-table">
            <thead>
                <tr>
                    <td class="sh-table-first-col">#</td>
                    <td>Пн</td>
                    <td>Вт</td>
                    <td>Ср</td>
                    <td>Чт</td>
                    <td>Пт</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="sh-table-first-col">
                        <div class="sh-class-number">3</div>
                        <div class="sh-from">12:10</div>
                        <br>
                        <div class="sh-to">13:45</div>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Math</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-practice"></div>
                        <span class="sh-table-subject">Chemistry</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Plot</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Scenery</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-practice"></div>
                        <span class="sh-table-subject">Science</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                        <hr>
                        <div class="sh-table-type-practice"></div>
                        <span class="sh-table-subject">Science</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                </tr>

                <tr>
                    <td class="sh-table-first-col">
                        <div class="sh-class-number">4</div>
                        <div class="sh-from">13:55</div>
                        <br>
                        <div class="sh-to">15:30</div>
                    </td>
                    <td>
                        <div class="sh-table-type-practice"></div>
                        <span class="sh-table-subject">Math</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Chemistry</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lab"></div>
                        <span class="sh-table-subject">Plot</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lab"></div>
                        <span class="sh-table-subject">Scenery</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Science</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                </tr>

                <tr>
                    <td class="sh-table-first-col">
                        <div class="sh-class-number">5</div>
                        <div class="sh-from">15:50</div>
                        <br>
                        <div class="sh-to">17:25</div>
                    </td>
                    <td>
                        <div class="sh-table-type-lab"></div>
                        <span class="sh-table-subject">Math</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Chemistry</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-practice"></div>
                        <span class="sh-table-subject">Plot</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Scenery</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Science</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                </tr>

                <tr>
                    <td class="sh-table-first-col">
                        <div class="sh-class-number">6</div>
                        <div class="sh-from">17:35</div>
                        <br>
                        <div class="sh-to">19:10</div>
                    </td>
                    <td>
                        <div class="sh-table-type-lab"></div>
                        <span class="sh-table-subject">Math</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lab"></div>
                        <span class="sh-table-subject">Chemistry</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Plot</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-lection"></div>
                        <span class="sh-table-subject">Scenery</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                    <td>
                        <div class="sh-table-type-practice"></div>
                        <span class="sh-table-subject">Science</span><br>
                        <span class="sh-table-type">ауд. 313(1)</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="sh-schedule-legend">
            <div class="sh-table-type-lection sh-inline"></div>
            <span class="sh-table-type-desc">Лекция</span>
            <div class="sh-table-type-lab sh-inline"></div>
            <span class="sh-table-type-desc">Лабораторная работа</span>
            <div class="sh-table-type-practice sh-inline"></div>
            <span class="sh-table-type-desc">Практическая работа</span>
        </div>
    </div>

</div>

<div class="row sh-row">
    <div class="span4 sh-files sh-folded-corner">
        <div class="sh-label-container">
            <span class="sh-label">Учебные материалы</span>
        </div>
        <div class="sh-subject-list">
            <div class="sh-subject">@Html.ActionLink("Дискретная математика", "Files", "Home")</div>
            <div class="sh-subject">Физика</div>
            <div class="sh-subject">Химия</div>
            <div class="sh-subject">Геометрия</div>
            <div class="sh-subject">Математический анализ</div>
            <div class="sh-subject">Алгебра</div>
            <div class="sh-subject">Математика</div>
            <div class="sh-subject">Статистика</div>
            <div class="sh-subject">Математика</div>
            <div class="sh-subject">Физика</div>
            <div class="sh-subject">Химия</div>
            <div class="sh-subject">Геометрия</div>
            <div class="sh-subject">Математический анализ</div>
            <div class="sh-subject">Алгебра</div>
            <div class="sh-subject">Математика</div>
            <div class="sh-subject">Статистика</div>
        </div>
    </div>

    <div class="span4 sh-deadlines">
        <div class="sh-label-container">
            <span class="sh-label sh-label-red">Сроки</span>
        </div>
        <ul class="sh-deadlines-short-list">
            <li>
                <input type="checkbox" id="235">
                <label for="235">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>

            <li>
                <input type="checkbox" id="236">
                <label for="236">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>

            <li>
                <input type="checkbox" id="237">
                <label for="237">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>

            <li>
                <input type="checkbox" id="238">
                <label for="238">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>

            <li>
                <input type="checkbox" id="239">
                <label for="239">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>
            <li>
                <input type="checkbox" id="235">
                <label for="235">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>

            <li>
                <input type="checkbox" id="236">
                <label for="236">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>

            <li>
                <input type="checkbox" id="237">
                <label for="237">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>

            <li>
                <input type="checkbox" id="238">
                <label for="238">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>

            <li>
                <input type="checkbox" id="239">
                <label for="239">
                    <span>ОПП лаб 3</span>
                    <span>11.09.2001</span>
                </label>
            </li>
        </ul>

        <button class="sh-button sh-inverted sh-center">Перейти к полному списку</button>
    </div>


    <div class="span4 sh-news sh-folded-corner">
        <div class="sh-label-container">
            <span class="sh-label">Новости</span>
        </div>

        <div class="sh-news-list">
            <div class="sh-news-items">
                <span class="sh-news-label">Some heading</span>
                <span class="sh-news-date"><small>11-11-11</small></span>

                <p class="sh-news-entry">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель</p>


            </div>
        </div>
    </div>
</div>


