* {
	font-family: 'Roboto', sans-serif;
	border-radius: 0px!important;
}

hr {
	margin: 2px;
}
.sh-label-red {
	background: #c16244!important;
}
body {
	background: #76E5CF!important;
}
.table-bordered {
	color: #fff;
	border-top: 5px solid #ddd;	
}
.table-bordered td {
	vertical-align: top;
	border-bottom: 1px solid #ddd;
}
button.btn {
	margin-top: 9px!important;
}

th {
	text-align: center!important;
}

.sh-month {
	font-size: 20px!important;
	margin-top: -90px!important;
	margin-bottom: -140px!important;
}
.navbar-inner {
	height: 57px;
	margin-left: -25px;
	width: 988px;
	padding: 0px;
}

.sh-subject {
	text-align: center;
	background: #DFE0CA;
	padding: 7px;
	font-size: 14pt;
	margin: 15px 15px;	
}

.sh-subject-list, .sh-news-list {
	margin-top: 30px;
	overflow-y: scroll;
	height: 350px;
}

.sh-news-label {
	background: #DFE0CA;
	padding: 7px;
	margin: 15px;
	font-size: 14pt;
}
.sh-news-entry {
	margin: 10px 15px;
}
.sh-row {
	margin-top: 40px;
	margin-bottom: 88px;
}

.sh-form {
	float: right;
	margin-top: -20px;
}

.sh-logo a{
	font-family: bira_personal_use_onlyregular;
	color: white;
	font-size: 25pt;
	margin-top: 15px;
    display: block;
}
.search {
	width: 140px;
	margin-right: 10px;
}

.sh-image {
	z-index: 9999;
	height: 70px;
	width: 70px;
	margin-top: -55px;
	margin-bottom: 48px;
	background: #FC7A56 url('../img/avatar.gif') no-repeat 50%;
	margin-left: 50px;
	outline: 5px solid rgba(255, 255, 255, .5);
    cursor: pointer;
	
}



.sh-btn {
	background: none;
	border: none;
}

 .sh-form-reg, .sh-acc-settings {
	height: 346px;
	background: #F5F7DD;
	
}

.sh-schedule {
	height: 450px;
}

.sh-deadlines {
	background: #ff8762!important;	
}

.container {
	background: #fff;
	padding: 0 25px;
}

.sh-deadlines-short-list {
	list-style: none;
	margin-top: 30px;
}

.sh-deadlines-short-list li {
	margin-top: 10px;
}

.sh-files, .sh-news, .sh-deadlines {
	background: #F5F7DD;
	box-shadow: 5px 5px 0 #D8D8D8;
	height: 460px;
}

table.sh-schedule-table {
	color: #333;
	border-top: inherit;
	margin-left: 40px;
}

td {
	font-size: 0.9em;
	width: 150px;
}

.sh-label {
	margin-left: 30px;
	background: #DFE0CA;
	padding: 7px;
	font-size: 14pt;
	color: #fff;
	
}

.sh-label-container {
	margin: 15px;
}

.navbar-inner.footer {
	height: 40px;
	margin-top: 10px;
	margin-bottom: -20px;
}

.sh-table-type-lab, .sh-table-type-lection, .sh-table-type-practice {
	width:10px;
	height: 10px;
	float: right;
}
.sh-table-type-lab {
	background: #68e08d;
}

.sh-table-type-lection {
	background: #ff8762;
}

.sh-table-type-practice {
	background: #76e5cf;
}

.sh-table-type {
	font-size: 0.7em;
}

.sh-table-first-col {
	border-left: none!important;
	width: 50px;
}

.sh-from, .sh-to {
	font-size: 0.6em;
	color: grey;
	float: right;
}

.sh-inline {
	float: none;
	display: inline-block;
}

.sh-table-type-desc {
	margin-right: 15px;
	margin-left: 5px;
	font-size: 0.7em;
	color: grey;
}

.sh-schedule-legend {
	margin: 10px 40px;
}

.sh-folded-corner {
	box-shadow: 5px 5px 0 #D8D8D8;
	background:  #F5F7DD url('../img/folded-corner.gif') no-repeat;
}


.sh-form-reg {
	height: 330px;
	float: none;
	margin: 88px auto;
}

.sh-form-auth {
	height: 300px;
	float: none;
	margin: 88px auto;
}

.sh-class-number {
	float: left;
}

.sh-form-new-group  {
	height: 380px;
	float: none;
	margin: 88px auto;
}

.sh-registration, .sh-new-group {
	text-align: center;
	margin: 30px 15px;
}

.sh-form-files {
	margin-top: 88px;
	margin-bottom: 88px;
	padding: 3px;
}

.sh-inverted {
	
	color: grey!important;
	background: #F5F7DD!important;
	border-bottom: 5px solid #dfe0ca!important;
}

.sh-inverted:active, .sh-center:active {
	margin-top: 20px!important;
	border: 0px solid grey!important;
}
.sh-button {
	min-width: 120px;
	margin: 5px;
	padding: 5px 10px 2px;
	color: #fff;
	background: #ff8762;
	border-radius: 0;
	border: none;
	border-bottom: 5px solid #fc7a56;
}

.sh-button:focus {
	outline: none;
}

.sh-center {
	position: absolute;
	display: block;
	margin-left: 50px;
}

.sh-button:active {
	outline: none;
	border-bottom: none;
	margin-top: 10px!important;
}

.sh-label-reg {
	line-height: 3;
}

.sh-remember-me {
	
	margin: 0 auto;
	width: 220px;
	height: 40px;
}
.sh-remember-me-label {
	padding-left: 7px;
	font-size: 0.8em;
	float: left;
}
input[type=text], input[type=password], input[type=email], input[type=file], select {
	border: 5px solid #d8d8d8;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=file]:focus, select:focus {
	border: 5px solid #76e5cf!important;
	outline: none;
}

input[type=file] {
    background: #fff;
    width: 218px;
}

input[type=checkbox] {
	float: left;
}

select {
	margin: 0 auto 10px;
	width: 225px;
	height: 35px;
	padding: 1px;
	display: block;
}

a {
	color: #333;
}

.sh-forgot-password {
	font-size: 0.8em;
	text-decoration: underline;
	float: right;
}

.sh-span-register {
	
	font-size: 0.8em;
	text-decoration: underline;
	margin: 0 auto;
	margin-bottom: -10px;
	float: none;
	display: block;
	text-align: right!important;
	width: 220px;
}

.sh-input-settings {
    float: right;
}

.sh-label-settings {
    float: left;
}

.sh-form-acc-settings {
    margin-top: 88px;
    margin-bottom: 88px;
    height: 380px;
    padding: 3px 10px;
  
}

.sh-files-buttons {
	float: right;
}

.sh-table-files {
	width: 700px;
	margin: 40px auto;
	color: #000;
}

tr.sh-td-files td {
	width: auto;
	padding: 5px;
}

.sh-schedule-nav {
	margin: 20px auto;
	text-align: center;
}

.sh-schedule-nav-left {
	padding-left: 40px;
	float: left;
}

.sh-schedule-nav-right {
	padding-right: 40px;
	float: right;
}

.form-settings-left {
	margin-top: 20px;
	width: 60%;
	float: left;
	line-height: 3.5;
}

.form-settings-right {
	text-align: right;
	line-height: 3.5;
	margin-top: 17px;
	width: 30%;
	float: right;
	
}

.sh-button-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}